* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .main {
    width: 500px;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .main .gif {
    width: 350px;
    height: 150px;
    align-items: center;
    justify-content: center;   
    position: absolute;
    max-width: 100%;
    margin-bottom: 125px;
}

section .main .header .left-nav {
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: 100;
}
  
section .main .header .left-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
section .main .header .left-nav ul li {
    margin-right: 1.75em;
}
  
section .main .header .left-nav ul li a {
    color: #5F6368;
    font-family: product-sans;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}
  
section .main .header .right-nav {
    padding: 15px 20px;
    position: absolute;
    top: 0;
    right: 75px;
    width: 20%;
    z-index: 100;
}
  
section .main .header .right-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
section .main .header .right-nav ul li {
    margin-right: 1.75em;
}
  
section .main .header .right-nav ul li a {
    color: #5F6368;
    font-family: product-sans;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

section .main .searchBx {
    position: absolute;
    width: 600px;
    margin-top: 125px;
}

section .main .searchBx .query {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 60px;    
}

section .main .searchBx .icons {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}

section .main .searchBx .profile img{
    position: absolute;
    top: -245px;
    right: -85px;
    height: 25px;
    width: 25px;
}

section .main .searchBx .suite img{
    position: absolute;
    top: -255px;
    right: -145px;
    height: 50px;
    width: 50px;
}

section .main .searchBx .icons img {
    max-width: 100%;
}

.Btn {
    position: relative;
    margin-top: 250px;
    margin: 250px 4px 4px;
    text-align: center;
    padding: 10px 16px;
    width: 145px;
    background-color: #f8f9fa;
    font-family: sans-serif;
    font-size: 14px;
    color: #3c4043;
    cursor: pointer;
    border-radius: 5%;
    border: 1px solid #f8f9fa;
    outline: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);;
}

.aboutBtn {
}

.storeBtn {
    display: flex;
}

.searchBx:hover {
    border: 1px solid #ccc;
    border-radius: 100%;
}

.Btn:hover {
    border: 1px solid #ccc;
}

.left-nav:hover {
    text-decoration: underline;
}

.right-nav:hover {
    text-decoration: underline;
}